@import '@unocss/reset/tailwind.css';

:root {
	--theme-color-primary-50: 245, 248, 255;
	--theme-color-primary-100: 232, 238, 255;
	--theme-color-primary-200: 187, 203, 254;
	--theme-color-primary-300: 143, 165, 253;
	--theme-color-primary-400: 99, 124, 253;
	--theme-color-primary-500: 55, 81, 252;
	--theme-color-primary: 11, 36, 251;
	--theme-color-primary-700: 7, 20, 207;
	--theme-color-primary-800: 4, 9, 164;
	--theme-color-primary-900: 1, 1, 120;
	--theme-color-primary-950: 3, 0, 77;
	--theme-color-dark-50: 255, 254, 245;
	--theme-color-dark-100: 255, 251, 232;
	--theme-color-dark-200: 255, 244, 199;
	--theme-color-dark-300: 255, 234, 166;
	--theme-color-dark-400: 255, 222, 133;
	--theme-color-dark-500: 255, 209, 100;
	--theme-color-dark: 255, 192, 67;
	--theme-color-dark-700: 210, 148, 41;
	--theme-color-dark-800: 166, 108, 22;
	--theme-color-dark-900: 121, 72, 8;
	--theme-color-dark-950: 77, 41, 0;
	--theme-color-primaryBlack: 1, 3, 25;
	--theme-color-primaryWhite: 242, 242, 243;
	--theme-color-darkBlack: 25, 17, 1;
	--theme-color-darkWhite: 243, 242, 242;
	--theme-color-functional-success: 17, 187, 141;
	--theme-color-functional-warning: 185, 80, 0;
	--theme-color-functional-error: 218, 20, 20;
	--theme-color-functional-info: 46, 90, 172;
	--theme-color-extend0: 0, 172, 238;
	--theme-color-extend1: 255, 105, 55;
	--theme-color-extend2: 0, 112, 74;
}

:root {
	--un-default-border-color: currentColor;
}
html {
	-webkit-tap-highlight-color: transparent;
}
