{
	"root": true,
	"extends": [
		"eslint:recommended",
		"plugin:svelte/recommended",
		"plugin:markdown/recommended",
		"plugin:json/recommended",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2020,
		"extraFileExtensions": [".svelte", ".json", ".md"]
	},
	"rules": {},
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"overrides": [
		{
			"files": "*.svelte"
		}
	]
}
