.idea
.vscode

.DS_Store
node_modules
bun.lockb
bun.lock
pnpm-lock.yaml
package-lock.json

dist
build
.svelte-kit

/blog

# 忽略全部 site 相关文件
/docs/site/scripts/add.txt
/docs/site/scripts/cdn-all.txt
/docs/site/scripts/cdn-modify.txt
/docs/site/scripts/compare.js
/docs/site/scripts/delete.txt
/docs/site/scripts/deploy.js
/docs/site/scripts/Refresh.py
/docs/site/dist-old
/docs/site/.env
/docs/site/public-backup/
/docs/site/static/fonts/symbol.svg

# 忽略 packages 中 create-stdf 模板中的 node_modules ignore node_modules in create-stdf templates
/packages/create-stdf/templates/sktt/static/fonts
/packages/create-stdf/templates/sktt/static/symbols

/packages/create-stdf/templates/skt/static/fonts
/packages/create-stdf/templates/skt/static/symbols

# 忽略 packages 中 rollup-plugin-stdf-icon 本地构建的文件 ignore the files built by rollup-plugin-stdf-icon in packages
/packages/rollup-plugin-stdf-icon/test/symbol.svg

# 忽略 packages 中 vscode-extension 本地构建的文件 ignore the files built by vscode-extension in packages
/packages/vscode-extension/.vscodeignore
/packages/vscode-extension/LICENSE
/packages/vscode-extension/src/docs
/packages/vscode-extension/src/menuList.js




