@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: oklch(0.985 0.015 268.66);
	--color-primary-100: oklch(0.9789 0.009857 267.36);
	--color-primary-200: oklch(0.8474 0.0736 271.19);
	--color-primary-300: oklch(0.74.1 0.1299 272.23);
	--color-primary-400: oklch(0.6339 0.1927 271.59);
	--color-primary-500: oklch(0.5358 0.252 268.66);
	--color-primary: oklch(0.4666 0.2959 264.89);
	--color-primary-700: oklch(0.3975 0.2599 264.88);
	--color-primary-800: oklch(0.3314 0.2205 264.83);
	--color-primary-900: oklch(0.2603 0.1784 264.43);
	--color-primary-950: oklch(0.1923 0.1299 266.64);
	--color-dark-50: oklch(0.9953 0.0119 101.47);
	--color-dark-100: oklch(0.9861 0.0252 97.11);
	--color-dark-200: oklch(0.9647 0.0592 95.88);
	--color-dark-300: oklch(0.9385 0.0887 92.95);
	--color-dark-400: oklch(0.9096 0.1145 89.71);
	--color-dark-500: oklch(0.8801 0.1364 86.37);
	--color-dark: oklch(0.8446 0.1525 80.6);
	--color-dark-700: oklch(0.7103 0.1366 75.73);
	--color-dark-800: oklch(0.5798 0.1182 70.17);
	--color-dark-900: oklch(0.4494 0.0968 65.21);
	--color-dark-950: oklch(0.3213 0.0737 62.38);
	--color-primaryBlack: oklch(0.1163 0.0536 267.09);
	--color-primaryWhite: oklch(0.9614 0.0013 286.38);
	--color-darkBlack: oklch(0.1832 0.0349 86.63);
	--color-darkWhite: oklch(0.9619 0.0011 17.18);
	--color-success: oklch(0.7041 0.1417 167.08);
	--color-warning: oklch(0.5582 0.153956 47.1861);
	--color-error: oklch(0.5636 0.2231 28.46);
	--color-info: oklch(0.4818 0.1402 261.52);
	--color-extend0: oklch(0.7028 0.1492 235.06);
	--color-extend1: oklch(0.7021 0.1938 38.14);
	--color-extend2: oklch(0.4815 0.10687 161.2119);
}
@font-face {
	font-family: 'Trueno';
	src: url('/fonts/Trueno.otf') format('opentype');
}
*::-webkit-scrollbar {
	width: 6px;
}
*::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: oklch(0.6167 0 0 / 30%);
}
*::-webkit-scrollbar-track {
	background-color: oklch(0.6167 0 0 / 10%);
}
html {
	overflow-y: overlay;
	-webkit-tap-highlight-color: transparent;
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
	display: none;
}
body {
	-ms-overflow-style: none;
}
* {
	-webkit-overflow-scrolling: touch;
}
button:focus {
	outline: none;
}
