# 当分支 main 有 push 事件并且此次 push 包含了 packages/create/package.json 文件时，执行以下任务

name: PUBLISH CREATE

on:
    push:
        branches:
            - main
        paths:
            - 'packages/create/package.json'

permissions:
    id-token: write # Required for OIDC
    contents: read

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: write

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node.js environment
              uses: actions/setup-node@v4
              with:
                  node-version: '24'
                  registry-url: 'https://registry.npmjs.org'

            # 将 LICENSE 复制到 packages/create 目录下
            # cd packages/create 目录下
            # 安装依赖 npm install
            # 打包 npm run build
            # 发布 create-stdf 到 npm
            - name: Publish
              run: |
                  cp LICENSE packages/create/LICENSE
                  cd packages/create
                  npm install
                  npm run build
                  npm publish --provenance
